$color_black : #000000;
$color_l_gray : #eaeaea;

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 12px;
}
header{
	background:$color_black;
	width: 100%;
	height: 30px;
	float: left;
}
.top-home{
	width: 100%;
	min-height: 200px;
	padding: 1%;
	border-bottom: solid 1px $color_l_gray;
	margin-bottom: 20px;
	.top-item{
		max-width: 800px;
		margin: 0 auto;
	}
}
.home{
	width: 100%;
	.img100{
		max-width: 120px;
	}
	.col-3{
		padding: 0.5%;
		width:32%;
		float: left; 
	}
	.thumb-idea{
		height: 420px;
		border:solid 1px $color_l_gray;
		background: lighten($color_l_gray, 10%);
		margin:0.65%;
	}
}
footer{
	width: 100%;
	padding-top: 10px;
	min-height: 30px;
	color: $color_l_gray;
	text-align: center;
	bottom: 0;
	background: $color_black;
	position: fixed;
}