* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 12px; }

header {
  background: black;
  width: 100%;
  height: 30px;
  float: left; }

.top-home {
  width: 100%;
  min-height: 200px;
  padding: 1%;
  border-bottom: solid 1px #eaeaea;
  margin-bottom: 20px; }
  .top-home .top-item {
    max-width: 800px;
    margin: 0 auto; }

.home {
  width: 100%; }
  .home .img100 {
    max-width: 120px; }
  .home .col-3 {
    padding: 0.5%;
    width: 32%;
    float: left; }
  .home .thumb-idea {
    height: 420px;
    border: solid 1px #eaeaea;
    background: white;
    margin: 0.65%; }

footer {
  width: 100%;
  padding-top: 10px;
  min-height: 30px;
  color: #eaeaea;
  text-align: center;
  bottom: 0;
  background: black;
  position: fixed; }
