* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 12px; }

a {
  color: black;
  text-decoration: none; }

header {
  background: black;
  width: 100%;
  height: 30px;
  float: left;
  font-size: 1.4em;
  color: #eaeaea;
  padding: 3px; }
  header a {
    color: #eaeaea; }

.top-home {
  width: 100%;
  min-height: 200px;
  padding: 1%;
  border-bottom: solid 1px #eaeaea;
  margin-bottom: 20px; }
  .top-home .top-item {
    max-width: 800px;
    margin: 0 auto; }

.home {
  width: 100%; }
  .home .img100 {
    max-width: 120px; }
  .home .col-3 {
    padding: 0.5%;
    width: 32%;
    float: left; }
  .home .thumb-idea {
    height: 420px;
    border: solid 1px #eaeaea;
    background: white;
    margin: 0.65%; }

footer {
  width: 100%;
  padding-top: 10px;
  min-height: 30px;
  color: #eaeaea;
  text-align: center;
  bottom: 0;
  background: black;
  position: fixed; }

.top-ideia {
  width: 100%;
  padding: 1%;
  float: left;
  border-bottom: solid 1px #eaeaea;
  background: #eaeaea; }

.prog-bars {
  width: 100%;
  padding: 2%;
  border-bottom: solid 1px #eaeaea; }
  .prog-bars h3 {
    width: 100%;
    margin-top: 5px;
    float: left; }
  .prog-bars progress {
    float: left;
    width: 100%;
    margin-top: 5px;
    height: 50px;
    padding: 3px;
    background: #eaeaea;
    border: solid 1px #c4c4c4; }

.anuncio {
  width: 100%;
  float: left;
  margin-top: 10px; }
  .anuncio .box-anuncio {
    margin: 1%;
    padding: 1%;
    max-width: 500px;
    margin: 0 auto;
    border: solid 1px #c4c4c4;
    text-align: center; }
